html {
  background-color: #ECEBE4;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin:0 auto;
  
}

nav {
  text-align: center;
  color: #2B303A;
}

svg {
  display: block;
  margin: auto;
}

.link {
  stroke: #aaa;
}

.node text {
stroke:#2B303A;
cursor:pointer;
}

.node circle{
/* stroke:#fff; */
stroke-width:3px;
fill:#CC998D;
}

.tooltip {
  position: absolute;
  background-color: #00000080;
  font-weight: bold;
  color: #ffffff;
  visibility: hidden;
  padding: 15px;
}

/* 
Nice Palette Here

429EA6
153B50
6E8894
53917E

 */